body{
    background-image: linear-gradient(#0ba360,#3cba92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@font-face {
    font-family: GoGoPosterPunch;
    src: url(font/GogoPosterPunch.ttf);
}
form{
    width: 650px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
}
h2{
    font-family: GogoPosterPunch;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 40px;
}
label{
    font-family: GogoPosterPunch;
}
input{
    font-family: sans-serif;
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding-bottom: 10px;
    margin: 10px auto;
}
div{
    margin: 0;
    position: absolute;
    left: 45%;
}
button{
    border-radius: 20%;
    width: 95%; 
    height: 7%;
    background: #0ba360;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    color:rgb(212, 212, 212);
}
button:hover{
    background: #3cba92;
    color:rgb(129, 129, 129);
}
.error{
    background: #f2dede;
    color: #a94442;
    width: 95%;
    padding: 10px;
    border-radius: 5px;

}
