@font-face {
    font-family: GogoPosterPunch;
    src: url(font/GoGoPosterPunch.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GogoPosterPunch', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 78px;
    background: #0ba360;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;

}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 25px;
    padding-top: 9px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active .logo-details{
    opacity: 1;
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
}
.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.sidebar .nav-links{
    margin-top: 16px;
}

.sidebar .nav-links li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
}


.sidebar .nav-links li .tooltip{
    position: absolute;
    left: 92px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.sidebar.active .nav-links li .tooltip{
    display: none;
}
.sidebar .nav-links li:hover .tooltip{
    transition: all 0.5 ease;
    opacity: 1;
    top: 50%;
}

.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a:hover{
    background: #2f9273;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.sidebar.active .nav-links li a:hover{
    background: #2f9273;
    border-radius: 10px;
    height: 100%;
    width: 95%;
}

.sidebar .nav-links li a i{
    height: 60px;
    min-width: 100%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    transition: all 0.5s ease;
}

.sidebar.active .nav-links li a i{
    height: 60px;
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 60px;
}
.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.active .nav-links li a .link_name{
    opacity: 1;
}
.sidebar .profile_content{
    position: absolute;
    color:#fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #36a884;
}
.sidebar .profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    padding-top: 2px;
    opacity: 0;
}
.sidebar .profile_content .profile .profile_details i{
    font-size: 30px;
}
.sidebar .profile_content .profile .profile_details .name_job{
    float: right;
    left: 0;
    padding-left:5px;
}
.sidebar .profile_content .profile .profile_details .name_job .name{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
}
.sidebar .profile_content .profile .profile_details .name_job .job{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.sidebar .profile_content .profile #log_out{
    position: absolute;
    left: 65%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}
.sidebar.active .profile_content .profile #log_out{
    left: 95%;
}
.sidebar.active .profile_content .profile .profile_details{
    opacity: 1;
}




.home-section{
    background: #f5f5f5;
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
    transition: all 0.5s ease;
    width: calc(100% - 240px);
    left: 240px;
    transform: translateZ(-50%);
}

.home-section .cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.home-section .cardBox .card{
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.home-section .cardBox .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.home-section .cardBox .card .cardName{
    color: #9999;
    font-size: 20px;
}
.home-section .cardBox .card .iconBox{
    font-size: 2.5em;
    color: #3cba92;
}
.home-section .details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.home-section .details .loginActivity{
    position: relative;
    display: grid;
    min-height: 200px;
    width: 100%;
    background: #fff;
    padding: 20px;
}
.home-section .details .loginActivity .loginHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.home-section .details .loginActivity .loginHeader h2{
    font-weight: 600;
    font-size: 25px;
}
.home-section .details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    padding-bottom: 50px; 
}
.home-section .details table thead td{
    /* font-family: 'Poppins', serif; */
    font-size: 20px;
    height: 10px;
    font-weight: 600;
}
.home-section .details table tbody td{
    font-family: sans-serif;
    font-weight: 600;
    padding: 9px 5px;
}

.home-section .details table thead tr td:last-child,
.home-section .details table tbody tr td:last-child{
    text-align: right;
}
.home-section .details .loginActivity table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home-section .details .loginActivity table tbody tr:hover{
    background: #3cba92;
    color: #fff;
}
.details .loginActivity table tr td{
    padding: 9px 5px;
}
tr{
    height: 5px;
}
@media (max-width: 800px){
    .home-section .cardBox{
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}

@media(max-width: 920px){
    .sidebar.active ~ .home-section .cardBox{
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}
@media(max-width: 1010px){
    .home-section .details{
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr;
        transition: all 0.5s ease;
    }
}


/* .home-section .home-content{
    position: relative;
    
}
.home-section .home-content .overview-boxes .box{
    padding: 15px 14px;
    background: #fff;
}
.home-section .home-content .overview-boxes .box_topic{
    font-size: 20px;
    font-weight: 500;
}
.home-section .home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
.home-section .home-content .overview-boxes .indicator i{

} */
/* .home-section nav{
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
} */